USE [master]
GO
/****** Object:  Database [Esercizio1]    Script Date: 25/02/2025 17:41:28 ******/
CREATE DATABASE [Esercizio1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio1]
GO
/****** Object:  Table [dbo].[Cantiere]    Script Date: 25/02/2025 17:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantiere](
	[IdCantiere] [uniqueidentifier] NOT NULL,
	[DenominazioneCantiere] [varchar](50) NOT NULL,
	[Indirizzo] [varchar](50) NOT NULL,
	[Citta] [varchar](50) NOT NULL,
	[PersonaRiferimento] [varchar](50) NOT NULL,
	[DataInizioLavori] [date] NOT NULL,
	[DataFineLavori] [date] NOT NULL,
	[LavoriTerminatiSI_NO] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 25/02/2025 17:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[DataNascita] [date] NOT NULL,
	[Sesso] [varchar](1) NOT NULL,
	[CF] [varchar](10) NOT NULL,
	[P.IVA] [nchar](10) NULL,
	[Saldo] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaio]    Script Date: 25/02/2025 17:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaio](
	[IdDipendente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[CF] [varchar](10) NOT NULL,
	[FigliACarico] [int] NULL,
	[Sposato] [nchar](2) NULL,
	[LivelloLavorativo] [varchar](20) NOT NULL,
	[DescrizioneMansione] [varchar](50) NOT NULL,
	[Salario] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
